<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Everything's Made To Be Broken (Take Comfort In Your Friends)</title>
  <meta property="og:title" content="Everything's Made To Be Broken (Take Comfort In Your Friends)"/>
  <meta property="og:url" content="http://ihatetourists.com/made-to-be-broken/"/>
  <meta property="og:description" content="Harness the power of YouTube to watch a bunch of people cover the same song at the same time." />
  <meta property="og:image" content="http://ihatetourists.com/made-to-be-broken/stipe.jpg"/>
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400, 700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/assets/js/bundle.js"></script>

</head>
<body>
<div id="header">
  <a href="/">
   <h1>Everything's Made To Be Broken</h1>
   <h2>(Take Comfort In Your Friends)</h2>
  </a>
</div>

<div id="error"></div>
<div id="initial-form">
  <div id="searcher">
    <label for="artist">Artist:</label>
    <input type="text" value="" id="artist"/>
    <label for="song-title">Song Title:</label>
    <input type="text" value="" id="song-title"/>
    <div id="submit">All Together, Now!</div>
    <div id="suggestion">(Or Get Another Suggestion)</div>
  </div>
</div>

<div id="loading-screen">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div id="videos-container">
  <h1><span id="big-artist"></span> - <span id="big-title"></span></h1>
  <div id="video">
  </div>
  <div id="controls">
    <div id="stop">New Song</div>
    <div id="play">Play</div>
  </div>
</div>

<div id="meta-links">
  <a id="about-link" href="about.html">About</a>
  <a id="twitter-link" href="http://twitter.com/blurstoftimes"/>@blurstoftimes</a>
</div>

  </body>
  </html>
